extends layout.pug

block content
    h1 Page de contact
    form
        .form-group
            label(for='exampleInputEmail1') Email address
            |  
            input#email.form-control(type='email',name="email", placeholder='Email')
        .form-group
            label(for='exampleInputEmail1') Sujet
            |  
            input#sujet.form-control(type='text',name="sujet", placeholder='Sujet')
        .form-group
            label(for='message') Message
            |  
            textarea.form-control(type='email', placeholder='Message', id="message")
        |  
        button.btn.btn-default(type='submit') Envoyer cet email
